{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://go.zuusworkforce.com/"
    }
  ],
  "info": {
    "title": "ZUUS",
    "description": "Welcome to the ZUUS API. Once you have a ZUUS authorization key, you can use this API to access information about staff, locations, jobs and shifts (scheduled, punches and approved hours). Additionally you can send in 'Point of Sales' information.\n",
    "version": "1.0.0",
    "contact": {
      "email": "api@zuusworkforce.com"
    },
    "x-logo": {
      "url": "logo.png"
    }
  },
  "tags": [
    {
      "name": "Staff",
      "description": "Retrieve details about staff."
    },
    {
      "name": "Jobs",
      "description": "Jobs are tasks that staff perform at locations."
    },
    {
      "name": "Locations",
      "description": "Locations are physical areas that require staff to be stationed."
    },
    {
      "name": "Scheduled Shifts",
      "description": "These are the times that are planned for staff to be at a location."
    },
    {
      "name": "Punches",
      "description": "These are the recorded times that staff occupied a location."
    },
    {
      "name": "Approved Shifts",
      "description": "These are the times that have been approved and will be used in payroll."
    },
    {
      "name": "Stats",
      "description": "Location statistics to assist with accurate scheduling."
    }
  ],
  "security": [
    {
      "Basic": []
    }
  ],
  "paths": {
    "/api/approved/": {
      "get": {
        "tags": [
          "Approved Shifts"
        ],
        "summary": "List all approved shifts going back up to 30 days",
        "parameters": [
          {
            "$ref": "#/components/parameters/greaterThan"
          },
          {
            "$ref": "#/components/parameters/greaterThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/lessThan"
          },
          {
            "$ref": "#/components/parameters/lessThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/locationgroup"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all approved shifts within the filter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/approved/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/approved/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/approved"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/jobs/": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a list of all jobs",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of all jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/jobs/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/jobs/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/job"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/jobs/{job_id}/": {
      "parameters": [
        {
          "in": "path",
          "name": "job_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The job id",
          "example": "baf47dc1-ec02-4782-a855-de3c48ff4123"
        }
      ],
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get an individual job details",
        "responses": {
          "200": {
            "description": "Successfully got the job's details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/job"
                  }
                }
              }
            }
          },
          "404": {
            "description": "That job was not found"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        }
      }
    },
    "/api/locations/": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get a list of all locations",
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of all locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/location"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/locations/{loc_id}/": {
      "parameters": [
        {
          "in": "path",
          "name": "loc_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The location id",
          "example": "552334aa-88aa-41fa-a54f-4f6fddd3a35d"
        }
      ],
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get an individual location",
        "responses": {
          "200": {
            "description": "Successfully got the location's details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/location"
                  }
                }
              }
            }
          },
          "404": {
            "description": "That location was not found"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        }
      }
    },
    "/api/locations/{loc_id}/approved/": {
      "parameters": [
        {
          "in": "path",
          "name": "loc_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The location id",
          "example": "552334aa-88aa-41fa-a54f-4f6fddd3a35d"
        }
      ],
      "get": {
        "tags": [
          "Approved Shifts"
        ],
        "summary": "Get approved shifts for a location",
        "parameters": [
          {
            "$ref": "#/components/parameters/greaterThan"
          },
          {
            "$ref": "#/components/parameters/greaterThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/lessThan"
          },
          {
            "$ref": "#/components/parameters/lessThanOrEqual"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of all the approved shifts for the period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/approved/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/approved/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/approved"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/locations/{loc_id}/punch/": {
      "parameters": [
        {
          "in": "path",
          "name": "loc_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The location id",
          "example": "552334aa-88aa-41fa-a54f-4f6fddd3a35d"
        }
      ],
      "get": {
        "tags": [
          "Punches"
        ],
        "summary": "Get location punches",
        "parameters": [
          {
            "$ref": "#/components/parameters/greaterThan"
          },
          {
            "$ref": "#/components/parameters/greaterThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/lessThan"
          },
          {
            "$ref": "#/components/parameters/lessThanOrEqual"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of all the punches for the period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/punch/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/punch/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/punch"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/locations/{loc_id}/punch/{punch_id}/": {
      "parameters": [
        {
          "in": "path",
          "name": "loc_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The location id",
          "example": "552334aa-88aa-41fa-a54f-4f6fddd3a35d"
        },
        {
          "in": "path",
          "name": "punch_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The punch id",
          "example": "e4a33c11-31e6-4668-ab31-83551dae7cb7"
        }
      ],
      "get": {
        "tags": [
          "Punches"
        ],
        "summary": "Get a punch",
        "responses": {
          "200": {
            "description": "Successfully got the punch details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/punch"
                  }
                }
              }
            }
          },
          "404": {
            "description": "That punch was not found"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        }
      }
    },
    "/api/locations/{loc_id}/schedule/": {
      "parameters": [
        {
          "in": "path",
          "name": "loc_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The location id",
          "example": "552334aa-88aa-41fa-a54f-4f6fddd3a35d"
        }
      ],
      "get": {
        "tags": [
          "Scheduled Shifts"
        ],
        "summary": "Get scheduled shifts for a location",
        "parameters": [
          {
            "$ref": "#/components/parameters/greaterThan"
          },
          {
            "$ref": "#/components/parameters/greaterThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/lessThan"
          },
          {
            "$ref": "#/components/parameters/lessThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/publish_status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of all the scheduled shifts for the period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/schedule/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/schedule/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/shift"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/locations/{loc_id}/stats/{data_type}/type/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/location"
        },
        {
          "in": "path",
          "name": "data_type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "predicted",
              "actual"
            ]
          },
          "description": "Is this data predicted or what actually occured?"
        }
      ],
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "List the types of stats that are available",
        "responses": {
          "200": {
            "description": "A list of stats types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/stats/type/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/stats/type/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/stattype"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/locations/{loc_id}/stats/{data_type}/type/{stat_type}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/location"
        },
        {
          "in": "path",
          "name": "data_type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "predicted",
              "actual"
            ]
          },
          "description": "Is this data predicted or what actually occured?"
        },
        {
          "in": "path",
          "name": "stat_type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "sales",
              "units"
            ]
          },
          "description": "Either a monetary amount (sales) or a count of some item"
        }
      ],
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get actual (or predicted) sales (or units) for a location for the period",
        "parameters": [
          {
            "$ref": "#/components/parameters/greaterThan"
          },
          {
            "$ref": "#/components/parameters/greaterThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/lessThan"
          },
          {
            "$ref": "#/components/parameters/lessThanOrEqual"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/stats/actual/type/units/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/552334aa-88aa-41fa-a54f-4f6fddd3a35d/stats/actual/type/units/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/stat"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Stats"
        ],
        "summary": "Create actual (or predicted) sales (or units) for a location",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/stat_post"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful creation of statistic"
          }
        }
      }
    },
    "/api/locations/group/": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get a list of location groups",
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of all location groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/group/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/locations/group/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/locationgroup"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/punch/": {
      "get": {
        "tags": [
          "Punches"
        ],
        "summary": "List all collected time and attendance shifts",
        "parameters": [
          {
            "$ref": "#/components/parameters/greaterThan"
          },
          {
            "$ref": "#/components/parameters/greaterThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/lessThan"
          },
          {
            "$ref": "#/components/parameters/lessThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/locationgroup"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all time and attendance shifts within the filter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/punch/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/punch/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/punch"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/schedule/": {
      "get": {
        "tags": [
          "Scheduled Shifts"
        ],
        "summary": "List all scheduled shifts going back up to 30 days",
        "parameters": [
          {
            "$ref": "#/components/parameters/greaterThan"
          },
          {
            "$ref": "#/components/parameters/greaterThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/lessThan"
          },
          {
            "$ref": "#/components/parameters/lessThanOrEqual"
          },
          {
            "$ref": "#/components/parameters/locationgroup"
          },
          {
            "$ref": "#/components/parameters/publish_status"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all published scheduled shifts within the filter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/schedule/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/schedule/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/shift"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/": {
      "get": {
        "tags": [
          "Staff"
        ],
        "summary": "Get a list of all employed (active) staff",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/employment_status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of all staff",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/staff/?page=3"
                    },
                    "previous": {
                      "type": "string",
                      "example": "https://go.zuusworkforce.com/api/staff/?page=1"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/staff"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/{staff_id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/staff"
        }
      ],
      "get": {
        "tags": [
          "Staff"
        ],
        "summary": "Get an individual staff member's details",
        "responses": {
          "200": {
            "description": "Successfully got staff details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/staff"
                  }
                }
              }
            }
          },
          "404": {
            "description": "That staff member was not found"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        }
      }
    },
    "/api/staff/{staff_id}/employment/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/staff"
        }
      ]
    },
    "/api/staff/{staff_id}/job/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/staff"
        }
      ]
    },
    "/api/staff/{staff_id}/job/{job_id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/staff"
        },
        {
          "in": "path",
          "name": "job_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The job id",
          "example": "0a3a4cfa-6e8f-409a-9093-00f28243130a"
        },
        {
          "in": "query",
          "name": "date",
          "schema": {
            "description": "ISO 8601 date",
            "type": "string",
            "format": "date"
          }
        }
      ]
    },
    "/api/staff/{staff_id}/location/{loc_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/staff"
        },
        {
          "in": "path",
          "name": "loc_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The location id"
        }
      ]
    },
    "/api/staff/{staff_id}/location/{loc_id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/staff"
        },
        {
          "in": "path",
          "name": "loc_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The location id",
          "example": "0a3a4cfa-6e8f-409a-9093-00f28243130a"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "allowance": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "allowance"
            ]
          },
          "name": {
            "type": "string",
            "description": "Allowance condition name",
            "example": "Daily Uniform Allowance"
          },
          "value": {
            "type": "number",
            "example": 1.25
          }
        },
        "required": [
          "name",
          "value"
        ]
      },
      "approved": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "approvedHours"
            ]
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "start": {
            "$ref": "#/components/schemas/datetime"
          },
          "finish": {
            "$ref": "#/components/schemas/datetime"
          },
          "location": {
            "type": "string",
            "format": "uuid"
          },
          "staff": {
            "type": "string",
            "format": "uuid"
          },
          "approver": {
            "type": "string",
            "format": "uuid"
          },
          "notes": {
            "type": "string"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/segment"
            }
          },
          "cost": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/cost"
            }
          },
          "allowance": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/allowance"
            }
          }
        }
      },
      "break": {
        "type": "object",
        "properties": {
          "start": {
            "$ref": "#/components/schemas/datetime"
          },
          "finish": {
            "$ref": "#/components/schemas/datetime"
          },
          "paid": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "start"
        ]
      },
      "cost": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "cost"
            ]
          },
          "name": {
            "type": "string",
            "description": "Wage condition name",
            "example": "Normal Hours"
          },
          "value": {
            "type": "number",
            "example": 136.875
          },
          "duration": {
            "type": "number",
            "example": 7.5
          }
        }
      },
      "createpunch": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "shift"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "staff": {
            "type": "string",
            "format": "uuid"
          },
          "location": {
            "type": "string",
            "format": "uuid"
          },
          "start": {
            "$ref": "#/components/schemas/datetime"
          },
          "finish": {
            "$ref": "#/components/schemas/datetime"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/createsegment"
            }
          },
          "notes": {
            "type": "string"
          }
        },
        "required": [
          "staff",
          "location",
          "start"
        ]
      },
      "createsegment": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "segment"
            ]
          },
          "start": {
            "$ref": "#/components/schemas/datetime"
          },
          "finish": {
            "$ref": "#/components/schemas/datetime"
          },
          "job": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "break": {
            "type": "string",
            "nullable": true,
            "enum": [
              "paid",
              "unpaid"
            ]
          },
          "notes": {
            "type": "string"
          }
        },
        "required": [
          "start"
        ]
      },
      "date": {
        "type": "string",
        "format": "date",
        "description": "ISO 8601 date",
        "example": "2018-08-10"
      },
      "dateperiod": {
        "type": "object",
        "properties": {
          "start": {
            "$ref": "#/components/schemas/date"
          },
          "finish": {
            "$ref": "#/components/schemas/date"
          }
        },
        "required": [
          "start"
        ]
      },
      "datetime": {
        "type": "string",
        "format": "datetime",
        "description": "ISO 8601 date time with timezone",
        "example": "2018-08-10T16:45:00+09:30"
      },
      "employmentperiod": {
        "type": "object",
        "properties": {
          "start": {
            "$ref": "#/components/schemas/date"
          },
          "finish": {
            "$ref": "#/components/schemas/date"
          },
          "reason": {
            "type": "string",
            "description": "Termination reason"
          }
        }
      },
      "entityperiod": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "entityperiod"
            ]
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "start": {
            "$ref": "#/components/schemas/date"
          },
          "finish": {
            "$ref": "#/components/schemas/date"
          }
        },
        "required": [
          "uuid"
        ]
      },
      "job": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "job"
            ]
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Coffee drinker"
          },
          "color": {
            "type": "string",
            "example": "#8CC63E",
            "description": "HEX representation of color"
          }
        }
      },
      "location": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "The coffee bar"
          },
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          },
          "jobs": {
            "type": "array",
            "items": {
              "description": "The UUID of jobs that are available to this location",
              "type": "string",
              "format": "uuid"
            }
          },
          "object": {
            "type": "string",
            "enum": [
              "location"
            ]
          }
        }
      },
      "locationgroup": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "locationGrp"
            ]
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "category": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "punch": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "punch"
            ]
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "staff": {
            "type": "string",
            "format": "uuid"
          },
          "location": {
            "type": "string",
            "format": "uuid"
          },
          "start": {
            "$ref": "#/components/schemas/datetime"
          },
          "finish": {
            "$ref": "#/components/schemas/datetime"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/segment"
            }
          },
          "notes": {
            "type": "string"
          },
          "punches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/punchsource"
            }
          },
          "cost": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/cost"
            }
          },
          "allowance": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/allowance"
            }
          }
        }
      },
      "punchsource": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "punchSource"
            ]
          },
          "eventTime": {
            "$ref": "#/components/schemas/datetime"
          },
          "serverProcessedTime": {
            "$ref": "#/components/schemas/datetime"
          },
          "source": {
            "type": "string",
            "enum": [
              "Server",
              "Mobile server",
              "Zuus Time",
              "Zuus Web",
              "IVR",
              "myZUUS",
              "Advanced manufacturing"
            ],
            "description": "Source of the clock event, may contain other strings for external POS systems"
          },
          "geo": {
            "type": "boolean"
          },
          "long": {
            "type": "number"
          },
          "lat": {
            "type": "number"
          },
          "event": {
            "type": "string",
            "enum": [
              "Shift start",
              "Shift finish",
              "Break start",
              "Break finish",
              "Job change"
            ]
          }
        }
      },
      "segment": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "segment"
            ]
          },
          "start": {
            "$ref": "#/components/schemas/datetime"
          },
          "finish": {
            "$ref": "#/components/schemas/datetime"
          },
          "job": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "break_type": {
            "type": "string",
            "nullable": true,
            "example": "paid",
            "enum": [
              null,
              "paid",
              "unpaid"
            ]
          }
        }
      },
      "shift": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "shift"
            ]
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "staff": {
            "type": "string",
            "format": "uuid"
          },
          "location": {
            "type": "string",
            "format": "uuid"
          },
          "start": {
            "$ref": "#/components/schemas/datetime"
          },
          "finish": {
            "$ref": "#/components/schemas/datetime"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/segment"
            }
          },
          "cost": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/cost"
            }
          },
          "allowance": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/allowance"
            }
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "staff": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "staff"
            ]
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "preferred_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "dob": {
            "$ref": "#/components/schemas/date"
          },
          "pin": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "employment": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/employmentperiod"
            }
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/entityperiod"
            }
          },
          "primary_location": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "format": "uuid"
                },
                "effective_from": {
                  "$ref": "#/components/schemas/date"
                }
              }
            }
          },
          "locations": {
            "type": "array",
            "items": {
              "description": "The UUID of locations that this staff member is available to work at",
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "stat_post": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "stat"
            ]
          },
          "start": {
            "$ref": "#/components/schemas/datetime"
          },
          "finish": {
            "type": "string",
            "format": "datetime",
            "description": "Non inclusive ISO 8601 date time with timezone",
            "example": "2018-08-10T17:00:00+09:30"
          },
          "value": {
            "type": "number"
          },
          "manual": {
            "type": "boolean",
            "description": "Stat manually entered by a user",
            "default": false
          }
        }
      },
      "stat": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "stat"
            ]
          },
          "stats_type": {
            "type": "string"
          },
          "start": {
            "$ref": "#/components/schemas/datetime"
          },
          "finish": {
            "type": "string",
            "format": "datetime",
            "description": "Non inclusive ISO 8601 date time with timezone",
            "example": "2018-08-10T17:00:00+09:30"
          },
          "value": {
            "type": "number"
          }
        }
      },
      "stattype": {
        "type": "object",
        "properties": {
          "stats_type": {
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "employment_status": {
        "in": "query",
        "name": "employment_status",
        "description": "Filter staff by those that have been terminated or all staff that have ever been employed",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "terminated",
            "all"
          ]
        }
      },
      "greaterThan": {
        "in": "query",
        "name": "gt",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Return results where the 'start' field is greater than this value.",
        "example": "2019-11-25"
      },
      "greaterThanOrEqual": {
        "in": "query",
        "name": "gte",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Return results where the 'start' field is greater than or equal this value.",
        "example": "2019-11-25"
      },
      "lessThan": {
        "in": "query",
        "name": "lt",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Return results where the 'start' field is less than this value.",
        "example": "2019-11-25"
      },
      "lessThanOrEqual": {
        "in": "query",
        "name": "lte",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Return results where the 'start' field is less than or equal this value.",
        "example": "2019-11-25"
      },
      "location": {
        "in": "path",
        "name": "loc_id",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "The location id",
        "example": "552334aa-88aa-41fa-a54f-4f6fddd3a35d"
      },
      "locationgroup": {
        "in": "query",
        "name": "loc_group",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Return results that belong to this location group"
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "type": "integer"
        }
      },
      "payrollgroup": {
        "in": "query",
        "name": "group_by",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "staff",
            "condition"
          ]
        }
      },
      "publish_status": {
        "in": "query",
        "name": "status",
        "description": "Filter shifts by published status. If not provided only published shifts will be returned.",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "published",
            "unpublished",
            "all"
          ]
        }
      },
      "staff": {
        "in": "path",
        "name": "staff_id",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "The staff id",
        "example": "566166db-6402-4d0f-88ed-259784aaf7dd"
      }
    },
    "securitySchemes": {
      "Basic": {
        "type": "http",
        "scheme": "basic",
        "description": "Authenitcate with the credentials provided by ZUUS Support (api@zuusworkforce.com)"
      }
    }
  }
}
