openapi: 3.0.0
servers:
    - url: "https://see.adiinsights.com/"
info:
    title: Adi Insigths
    description: >
        Welcome to the Adi API. Once you have an Adi authorization key, you can use
        this API to access information about staff, locations, jobs and shifts
        (scheduled, timesheets and approved hours). Additionally you can send in 'Point of
        Sales' information.


        If you are looking from some hands-on access to the API we recommend using Insomnia (https://insomnia.rest/).
        Within Insomnia you can import the Adi API spec by clicking on the Download Open API specification.


        When you are asking for a list of staff, shifts, jobs, locations or anything else available via the API, the response will be paginated.
        The default is 100 items per page, however, you should not rely on this for determining if there is another page.
        You should use the URL provided in the “next” and “previous” fields in the response.

    version: 1.1.0
    contact:
        email: api@adiinsights.com
    x-logo:
        url: logo.png
tags:
    - name: Staff
      description: Retrieve details about staff.
    - name: Jobs
      description: Jobs are tasks that staff perform at locations.
    - name: Locations
      description: Locations are physical areas that require staff to be stationed.
    - name: Scheduled Shifts
      description: These are the times that are planned for staff to be at a location.
    - name: Timesheets
      description: These are the recorded times that staff occupied a location.
    - name: Approved Shifts
      description: These are the times that have been approved and will be used in payroll.
    - name: Leave
      description: Approved leave requests
    - name: Stats
      description: Location statistics to assist with accurate scheduling.
    - name: Integrations
      description: Configured integrations with external systems
    - name: Batch Processor
      description: Check the status of a batch processor task. These will often be when the creation of multiple objects has been triggered. The results will be ordered in the same order you submitted them.
security:
    - Basic: []
